*{margin:0;padding:0}
html,body{min-height:100%;}
body{position:relative;line-height:1;background:#fff;font-size:14px;color:#fff;min-width:320px;max-width:720px;margin:0 auto;font-family:"ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3";;}
i{font-style: normal;}
fieldset,img{border:0}
a{text-decoration:none;color:#fff;-webkit-touch-callout:none}
ul,li {list-style:none;}
header,footer,section {display:block;}
.f-cb:after,.m-list li a:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.m-pfoot{position: relative;z-index:10;text-align:center;}