@charset "UTF-8";
@import '../base/define.scss';
//-----------------------------------------------------
// ui-footer component
//-----------------------------------------------------
// footer部分，默认高度为50px
.ui-footer {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: $backgroundColorFooter;
  text-align: center;
  .ui-footer-inner {
    padding: $paddingBase;
    padding-top: 5px;
  }
  // 固定尾部时，增加ui-footer-fixed这个class即可
  &-fixed {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: $zindexFixedBar;
  }
}