/*************************************
 * global style
 *************************************/

/**
 * 0. the user just can select the text, not the element
 * 1. prevent ios pop up the dialog when longtap the hyberlink(a)
 * 2. enable the page scroll
 */
html {
  -webkit-user-select: text; /* 0 */
  -webkit-touch-callout: none; /* 1 */
  @include auto-scroll(); /* 2 */
}

/**
 * set the global style in the body
 */
body {
  font-family: $fontFamilyBase;
  font-size: $fontSizeBase; 
  line-height: $lineHeightBase; 
  color: $gray3; 
  background-color: $backgroundColorBase;
}


// placeholder
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-size: $fontSizeBase;
  color: $gray;
}

// readonly
input[readonly], input[readonly="readonly"], textarea[readonly="readonly"], textarea[readonly] {
    /*styling info here*/
}

// disabled
input[type="text"]:disabled, textarea:disabled {
    /*styling info here*/
}

// utility
.left, .fl {
  @include float(left);
}
.right, .fr {
  @include float(right);
}
.clearfix {
  @include clearfix();
}

.centerfix{
  display: block;
  height: 100%;
  .centerfix-inner{
    width: 100%;
    height: 100%;
    @include display-box();
        @include box-pack();
        @include box-align();
  }
}

.vcenterfix{
  @extend .centerfix;
  .centerfix-inner{
    @include box-orient(vertical);
  }
}

.hidden {
  display: none !important;
}
.invisible {
  visibility: hidden;
}
.touched {
  background-color: rgba(221, 221, 221, 0.4) !important;
}